.indicadores-inversion {
	[class*="colBene-"] {
		padding: 0;
	}
    .barra-indicador{
        text-align: center;
        margin: 0 auto;
        display: block;
        background-color: transparent;
        overflow: hidden;
        .contenedor-indicadores{
        	border-bottom: 1px solid #0082CA;
        	.mas-indicadores{
        		background: #0082CA;
    			margin-left: 4px;
    			a{
    				display: block;
    				font-size: 18px;
				    padding: 5px;
				    color: #fff;
				    font-family: Gelion Light;
				    text-decoration: none;
		        	.fa-caret-down{
		        		color: #fff;
    					margin-left: 8px;
		        	} 
    			}
        	}
        	p{
        		font-size: 16px;
			    font-family: Gelion Light;
			    color: #112C46;
			    padding: 6px 0;
			    span{
			    	font-family: Gelion Semi;
				    color: #0082CA;
				    display: inline-block;
				    margin-left: 5px;
			    }
        	}
        	.fa-caret-up{
        		color: #06CB75;
        	} 
        	.fa-caret-down{
        		color: #E60303;
        	} 
        }
    }
}

@media screen and (min-width: 768px) {
    .indicadores-inversion {  
		.colBene-2 {
		  width: calc(20% - 4px);
		}
    }
}

@media screen and (max-width: 767px) {
    .indicadores-inversion {
        .barra-indicador{
	        .contenedor-indicadores{
	        	.mas-indicadores{
	    			margin-left: 0;
	        	} 
	        }
	    }
    }
}